<html>
<head>
    <title>Best Store login page</title>
</head>
<body>
<h3>Best Store</h3>
<p>You aren't connected to Best Store yet. Click the button to connect this Store with your Facebook or Google account.</p>

<form action="/connect/facebook" method="POST">
    <input type="hidden" name="scope" value="user_posts" />
    <div class="formInfo">
        Login using Facebook
    </div>
    <p><button type="submit">Login using Facebook</button></p>
</form>
<!--<form action="/connect/google" method="POST">-->
    <!--<input type="hidden" name="scope" value="user_posts" />-->
    <!--<div class="formInfo">-->
        <!--Login using Google-->
    <!--</div>-->
    <!--<p><button type="submit">Login using Google</button></p>-->
<!--</form>-->
</body>
</html>